aiofiles
anyio
opencv-python
easyocr
fastapi
filelock
humps
imutils
python-jose
python-multipart
matplotlib
numpy
openpyxl
passlib
patched-yolo-infer
Pillow
pydantic
pydantic-settings
PyJWT
bcrypt
pylibdmtx
pymycobot
pypylon
pytesseract
PyQt5
pyzbar
scipy
segment-anything-py
pyserial
shortuuid
scikit-image
starlette
supervision
torch
torchvision
transitions
ttach
ultralytics
uvicorn
pygame
wsproto
xarm