aiofiles
anyio
opencv-python
easyocr
fastapi
filelock
humps
imutils
python-jose
python-multipart
matplotlib
numpy
openpyxl
passlib
patched-yolo-infer
Pillow
pydantic
pylibdmtx
pymycobot
pypylon
pytesseract
PyQt5
pyzbar
scipy
segment-anything-py
pyserial
shortuuid
scikit-image
starlette
supervision
tinydb
torch
torchvision
transitions
ttach
ultralytics
uvicorn
python-vlc
wsproto
xarm